@{
    ViewData["Title"] = "Home Page";
}

<div><button class="btn btn-primary"onclick="location.href='@Url.Action("ScanSystem","Home")';return false">Weekly Scan</button></div>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
