@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<link rel='shortcut icon' href='~/images/favicon.png' />
<title>Teacher Registration</title>
<meta charset='utf-8'>
<link rel='stylesheet' href='~/css/bootstrap.css'>
<body class='fade-in'>
    <div class="text-center">
        <a href='~/Home/Index'><img src='~/images/thriveLogo250x100.png'></a>
    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-md-4">
            <center>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </center>
        </div>
        <div class="col-sm-4">

        </div>
    </div>

    <div class="text-center">

        @if (Model.Role == "Teacher")
        {
            <img style='height: 15%;width: 15%' src='~/images/wrongSelectedUser-Teacher.png'>
        }

        @if (Model.Role == "Parent")
        {
            <img style='height: 15%;width: 15%' src='~/images/wrongSelectedUser-Parent.png'>
        }

        @if (Model.Role == "Student")
        {
            <img style='height: 15%;width: 15%' src='~/images/wrongSelectedUser-Student.png'>
        }
        <a href='~/Home/Index'><img src='~/images/homeCircle.png' style='height: 15%; width: 11%;'></a>

    </div>
</body>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
