@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<link rel='shortcut icon' href='~/images/favicon.png' />
<title>Teacher Registration</title>
<meta charset='utf-8'>
<link rel='stylesheet' href='~/css/bootstrap.css'>
<body class='fade-in'>
    <div class="text-center">
        <a href='~/Home/Index'><img src='~/images/thriveLogo250x100.png'></a>
    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <center>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <fieldset>
                        <h3>Welcome to Thrive!</h3>
                        <br />
                        <br />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Input.RegistrationId"></label>
                            <input asp-for="Input.RegistrationId" class="form-control" />
                            <span asp-validation-for="Input.RegistrationId" class="text-danger"></span>
                        </div>
                        <input value="@Model.Role" asp-for="Input.Role" class="form-control" style="display:none" />
                        <button type="submit" class="btn btn-primary">REGISTER</button>
                    </fieldset>
                </form>
            </center>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <div class="text-center">

        @if (Model.Role == "Teacher")
        {
            <img style='height: 15%;width: 15%' src='~/images/wrongSelectedUser-Teacher.png'>
        }

        @if (Model.Role == "Parent")
        {
            <img style='height: 15%;width: 15%' src='~/images/wrongSelectedUser-Parent.png'>
        }

        @if (Model.Role == "Student")
        {
            <img style='height: 15%;width: 15%' src='~/images/wrongSelectedUser-Student.png'>
        }
        <a href='~/Home/Index'><img src='~/images/homeCircle.png' style='height: 15%; width: 11%;'></a>

    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
