@model ThriveAPP.Models.Profile

@{
    ViewData["Title"] = "EditStudentProfile";
}

<h1>EditStudentProfile</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudentProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileId" class="control-label"></label>
                <input asp-for="ProfileId" class="form-control" />
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavoriteSubject" class="control-label"></label>
                <input asp-for="FavoriteSubject" class="form-control" />
                <span asp-validation-for="FavoriteSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningStyle" class="control-label"></label>
                <input asp-for="LearningStyle" class="form-control" />
                <span asp-validation-for="LearningStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
